<!doctype html>
  <html>
  <head>
    <!-- Google Analytics
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121312461-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-121312461-1');
    </script>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title %> <%= t(:simple) %></title>
    <meta name="description" content="<%= t(:intro) %>">
    <meta name="author" content="<%= t(:simple) %>">
    <!-- Font Awesome
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://kit.fontawesome.com/72c701f5ae.js" crossorigin="anonymous"></script>
    <!-- Browser/Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Open Graph Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta property="og:url"                content="https://www.simple.org">
    <meta property="og:type"               content="article">
    <meta property="og:title"              content="<%= current_page.data.title %>">
    <meta property="og:description"        content="<%= current_page.data.intro %>">
    <meta property="og:image"              content="https://simple.org/<%= current_page.data.cover_image_path %>">
    <!-- Twitter Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="twitter:card"              content="summary_large_image">
    <meta name="twitter:site"              content="@resolvetsl">
    <meta name="twitter:title"             content="<%= current_page.data.title %>">
    <meta name="twitter:description"       content="<%= current_page.data.intro %>">
    <meta name="twitter:creator"           content="@resolvetsl">
    <meta name="twitter:image"             content="https://simple.org<%= current_page.data.cover_image_path %>">
    <meta name="twitter:image:alt"         content="<%= current_page.data.cover_image_alt %>">
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <%= stylesheet_link_tag "blog" %>
    <style type="text/css">
      <% if lang != :en %>
        h3 { font-weight: 900; font-size: 22px; }
      <% end %>
    </style>
    <!-- Fix for Flash of Unstyled Content
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->    
    <style type="text/css">
      .hidden { display:none; }
    </style>
    <script type="text/javascript" src="/scripts/jquery.js"></script>
    <script type="text/javascript">
      $('html').addClass('hidden');
      $(document).ready(function() {    
          $(window).on('load', function () {...});
        $('html').show();  
      });  
    </script>
    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <% if lang == :hi %>
      <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
      <style type="text/css">
          body { font-family: Hind, sans-serif; }
      </style>
    <% end %>
    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="/images/favicon.png">
  </head>
  <body class="<%= t(:lang) %> body-blog">
    <div class="contents">
      <%= partial "partials/nav" %>
      <%= partial "partials/article_header" %>
      <div class="article-content">
        <%= yield %>
      </div>
      <%= partial "partials/article_footer" %>
      <footer class="mw-medium mx-auto">
        <a class="fs-medium fs-small:large" href="<%= localized_url("/screens/") %>">
          Screenshots
        </a>
        <a class="fs-medium fs-small:large" href="<%= localized_url("/privacy/") %>">
          <%= t(:privacy) %>
        </a>
        <a class="fs-medium fs-small:large" href="<%= localized_url("/license/") %>">
          Open source license
        </a>
        <a class="fs-medium fs-small:large" href="<%= localized_url("/digitalprinciples/") %>">
          Digital principles
        </a>
        <a class="fs-medium fs-small:large" href="<%= localized_url("/contact/") %>">
          <%= t(:contact) %>
        </a>
        <span class="fs-medium fs-small:large">
          * Note: All patients in screenshots are fake
        </span>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
    <script>
      lazyload();
    </script>
  </body>
</html>