<!doctype html>
<html>
<head>
  <%= partial "partials/analytics" %>
  <%= partial "partials/head" %>  
</head>
<body class="<%= t(:lang) %> body-<%= global_current_url %> barebones">
    
    <div class="barebones-wrapper">
        <nav style="position: relative;">
            <div style="float: right; font-size: 85%; color: #999; font-weight: normal; padding-top: 3px;">* All data is fake</div>
            <a href="<%= localized_url("/") %>"><i class="fas fa-arrow-left" style="margin-right: 6px;"></i> Back to Simple.org</a>
        </nav>
        
        <%= yield %>
    </div>
    
</body>
</html>
