<!doctype html>
  <html>
  <head>
    <title>Simple: Blog</title>
    <%= partial "partials/analytics" %>
    <%= partial "partials/head" %>
    <%= stylesheet_link_tag "blog" %>
  </head>
  <body class="<%= t(:lang) %> body-blog">
    <div class="mr-45pt-large p-40px pt-80px-large px-0px-large">
      <div class="header mw-600px mx-auto-large">
        <%= partial "partials/nav" %>
      </div>
    </div>
    <div class="contents">
        
      <main class="mw-xlarge mx-auto">
        <%= yield %>
      </main>
        
      <%= partial "partials/footer" %>
        
    </div>
      
    <%= partial "partials/lazyload" %>
      
  </body>
</html>