<!doctype html>
<html>
  <head>
    <%= partial "partials/analytics" %>
    <%= partial "partials/head" %>
  </head>
  <body class="<%= t(:lang) %> body-<%= global_current_url %>">
      <div class="feature <%= global_current_url %>">
          <div></div>
      </div>
      <div class="half">
        <div class="contents <%= t(:lang) %>">
            <div class="header mb-32px">
              <%= partial "partials/nav" %>
            </div>
            <%= yield %>
            
            <%= partial "partials/footer" %>
            
          </div>
        </div>
      
      <%= javascript_include_tag "javascript/nav" %>
  </body>
</html>