<%
  next_article =
    current_article.article_previous ? current_article.article_previous : blog.articles.first
  next_article_author =
    get_contributor_by_name next_article.data.author
  previous_article =
    current_article.article_next ? current_article.article_next : blog.articles.last
  previous_article_author =
    get_contributor_by_name previous_article.data.author
%>
<div class="mw-medium mb-60px mx-auto py-40px bt bb btc-gray-light bbc-gray-light">
  <p class="mb-0 fs-large lh-168pt">
    <dfn><%= t(:articleFooter) %></dfn>
  </p>
</div>
<div class="mw-xlarge mx-auto d-flex-large f-wrap-large">
  <div class="article-preview m-0 mb-48px w-50pt-large m-0-large pr-24px-large">
    <a class="article-preview--cover-small" href="<%= previous_article.url %>">
      <img
        class="lazyload article-preview--cover--image"
        src="<%= previous_article.data.cover_image_placeholder_path %>"
        data-src="<%= previous_article.data.cover_image_path %>"
        alt="<%= previous_article.data.cover_image_alt %>"
      >
    </a>
    <a href="<%= previous_article.url %>">
      <h2>
        <%= previous_article.title %>
      </h2>
    </a>
    <p class="global">
      <%= previous_article.data.intro %>
    </p>
    <div class="person--blog">
      <img
        class="person--photo"
        src="<%= previous_article_author.image_path %>"
        alt="<%= previous_article_author.name %>"
      >
      <div class="person--details">
        <h3>
          <a href="<%= previous_article_author.social_media_link %>">
            <%= previous_article_author.name %>
          </a>
        </h3>
        <h5>
          <%= previous_article.date.strftime('%d-%b-%Y') %>, <%= previous_article.data.reading_time %> minute read
        </h5>
      </div>
    </div>
  </div>
  <div class="article-preview m-0 w-50pt-large pl-24px-large">
    <a class="article-preview--cover-small" href="<%= next_article.url %>">
      <img
        class="lazyload article-preview--cover--image"
        src="<%= next_article.data.cover_image_placeholder_path %>"
        data-src="<%= next_article.data.cover_image_path %>"
        alt="<%= next_article.data.cover_image_alt %>"
      >
    </a>
    <a href="<%= next_article.url %>">
      <h2>
        <%= next_article.title %>
      </h2>
    </a>
    <p class="global">
      <%= next_article.data.intro %>
    </p>
    <div class="person--blog">
      <img
        class="person--photo"
        src="<%= next_article_author.image_path %>"
        alt="<%= next_article_author.name %>"
      >
      <div class="person--details">
        <h3>
          <a href="<%= next_article_author.social_media_link %>">
            <%= next_article_author.name %>
          </a>
        </h3>
        <h5>
          <%= next_article.date.strftime('%d-%b-%Y') %>, <%= previous_article.data.reading_time %> minute read
        </h5>
      </div>
    </div>
  </div>
</div>