<% author = get_contributor_by_name current_page.data.author %>
<% if current_page.data.cover_image_path %>
  <div class="article-cover">
    <img
      src="<%= current_page.data.cover_image_path %>"
      alt="<%= current_page.data.cover_image_alt %>"
    >
  </div>
<% end %>
<div class="article-header">
  <h1 class="intro">
    <%= current_page.data.title %>
  </h1>
  <p class="brief global">
    <%= current_page.data.intro %>
  </p>
  <div class="person--blog">
    <img
      class="person--photo"
      src="<%= author.image_path %>"
      alt="<%= author.name %>"
    >
    <div class="person--details">
      <h3>
        <a href="<%= author.social_media_path %>">
          <%= author.name %>
        </a>
      </h3>
      <h5>
        <%= current_page.date.strftime('%d-%b-%Y') %>, <%= current_page.data.reading_time %> minute read
      </h5>
    </div>
  </div>
</div>