<footer class="small">
    <a href="<%= localized_url("/screens/") %>">Screenshots</a>
    <a href="<%= localized_url("/privacy/") %>"><%= t(:privacy) %></a>
    <a href="<%= localized_url("/license/") %>">Open source license</a>
    <a href="<%= localized_url("/digitalprinciples/") %>">Digital principles</a>
    <a href="<%= localized_url("/contact/") %>"><%= t(:contact) %></a>
    <span>* Note: All patients in screenshots are fake</span>
</footer>