<!-- Basic Page Needs
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta charset="utf-8">
<!-- Use the title from a page's frontmatter if it has one -->
<title><%= t(:simple) %> <%= current_page.data.title %></title>
<meta name="description" content="<%= t(:intro) %>">
<meta name="author" content="<%= t(:simple) %>">

<!-- Font Awesome
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="https://kit.fontawesome.com/72c701f5ae.js" crossorigin="anonymous"></script>

<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:url"                content="http://www.simple.org/" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="Simple.org <%= current_page.data.title %>" />
<meta property="og:description"        content="<%= t(:intro) %>" />
<meta property="og:image"              content="https://simple.org/images/<%= current_page.data.social %>" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@resolvetsl">
<meta name="twitter:title" content="Simple.org <%= current_page.data.title %>">
<meta name="twitter:description" content="<%= t(:intro) %>">
<meta name="twitter:creator" content="@resolvetsl">
<meta name="twitter:image:src" content="https://simple.org/images/<%= current_page.data.social %>">

<!-- CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<%= stylesheet_link_tag "site" %>
<style type="text/css">

    <% if lang != :en %>
      h3 {
            font-weight: 900;
            font-size: 22px;
        }
    <% end %>


</style>

<!-- FONT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<% if lang == :hi %>
  <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
  <style type="text/css">
      body {
          font-family: Hind, sans-serif;
      }
  </style>
<% end %>

<!-- JS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!-- <%= javascript_include_tag "site" %> -->

<!-- Favicon
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="icon" type="image/png" href="/images/favicon.png">
