<nav>
  <h1>
    <a href="<%= localized_url("/") %>">
      <%= t(:simple) %>
    </a>
  </h1>
  <span class="nav-links">
    <a id="about" class="link" href="<%= localized_url("/about/") %>">
      <%= t(:about) %>
    </a>
    <a id="blog" class="link" href="<%= localized_url("/blog/") %>">
      <%= t(:blog) %>
    </a>
    <a class="link" href="https://docs.simple.org">
      <%= t(:documentation) %>
    </a>
    <a class="link" href="https://github.com/simpledotorg/">
      <%= t(:github) %>
    </a>
  </span>
</nav>