---
title: About
social: social.jpg
---

<a href="https://drive.google.com/a/resolvetosavelives.org/file/d/1M2BpHYZALN8UAOaLZUfwFKCRvmq0fI7s/view?usp=sharing" class="image-float"><img src="/images/one-pager.jpg" alt=""> Information Sheet (PDF)</a>

<h2>About the project</h2>
<p>Simple is now used in hospitals of all sizes in India and Bangladesh. In many facilities, clinicians see more than 100 patients each day, so ease-of-use and high performance are key.</p>
<p class="icons"> 
    <i class="fas fa-hospital"></i> <strong>1,685 public health facilities</strong><br>
    <small>from district hospitals to community clinics</small>
</p>
<p class="icons">
    <i class="far fa-users"></i> <strong>447,014 patients</strong><br>
    <small>with hypertension managed in Simple</small>
</p>
<p class="icons">
    <i class="far fa-heart"></i> <strong>1,763,501 BPs recorded</strong><br>
    <small>since the program started</small>
</p>
<p class="icons">
    <i class="fas fa-rabbit-fast"></i> <strong>14 sec follow-up</strong><br>
    <small>median time to record a follow-up visit if patient has a BP Passport ID card</small>
</p>
<p class="icons">
    <i class="far fa-stopwatch"></i> <strong>65 sec registration</strong><br>
    <small>median time to register a new patient in Simple</small>
</p>
<p class="icons">
    <i class="far fa-comment-alt-lines"></i> <strong>347,661 text messages sent</strong><br>
    <small>reminding patients to return for follow-up</small>
</p>
<p><small>* Data updated 4-Jan-2020</small></p>
<p>Simple had strong uptake in public health facilities in India and Bangladesh. Healthcare workers appreciate that Simple is easy to learn, simple to use, and takes up very little data. In a recent survey, nurses and doctors gave Simple a 4.5/5 star rating.
<span style="display: block; padding-top: 8px;"><i class="fas fa-star" style="color: #FF3355;"></i><i class="fas fa-star" style="color: #FF3355;"></i><i class="fas fa-star" style="color: #FF3355;"></i><i class="fas fa-star" style="color: #FF3355;"></i><i class="fas fa-star-half-alt" style="color: #FF3355;"></i></span></p>

<p><a href="https://www.simple.org/blog/what-we-are-learning/">Read more</a> about what we are doing differently and what we have learned developing Simple.</p>

<h3><%= t(:startQ) %></h3>
<p><%= t(:startA) %></p>

<h3><%= t(:principlesQ) %></h3>
<p><%= t(:principlesA) %></p>

<h3><%= t(:freeQ) %></h3>
<ul>
    <li><%= t(:free1) %></li>
    <li><%= t(:free2) %></li>
    <li><%= t(:free3) %></li>
</ul>
<p><%= t(:freeA) %></p>

<div class="features">
  <img src="/images/feature/india-0.jpg">
  <img src="/images/feature/india-1.jpg">
  <img src="/images/feature/india-2.jpg">
  <img src="/images/feature/india-4.jpg">
  <img src="/images/feature/india-5.jpg">
  <img src="/images/feature/india-7.jpg">
  <img src="/images/feature/india-10.jpg">
  <img src="/images/feature/india-11.jpg">
  <img src="/images/feature/india-12.jpg">
</div>

<h3><%= t(:moreQ) %></h3>
<p><%= t(:moreA) %></p>

<h3><%= t(:techQ) %></h3>
<p><%= t(:techA) %></p>

<h3><%= t(:thanksQ) %></h3>
<p><%= t(:thanksA) %></p>

<h3><%= t(:teamQ) %></h3>
<p><%= t(:teamA) %></p>
<ul class="people">
    <% data.contributors.each do |contributor| %>
        <li>
            <a href="<%= contributor.social_media_path %>">
                <%= contributor.name %>
                <img
                    src="<%= contributor.image_path %>"
                    alt="<%= contributor.name %>"
                >
            </a>
            <div class="small">
                <%= t(contributor.role) %>, <%= t(contributor.country) %>
            </div>
        </li>
    <% end %>
</ul>