<img src="/images/feature/nurse-punjab.jpg" class="image-float" alt="">

<h2>About us</h2>

<h3><%= t(:roadmapQ) %></h3>
<p><%= t(:roadmapA) %></p>
<p><%= t(:roadmapB) %></p>

<h3><%= t(:startQ) %></h3>
<p><%= t(:startA) %></p>

<h3><%= t(:principlesQ) %></h3>
<p><%= t(:principlesA) %></p>

<div class="features">
  <img src="/images/feature/india-0.jpg">
  <img src="/images/feature/india-1.jpg">
  <img src="/images/feature/india-2.jpg">
  <img src="/images/feature/india-4.jpg">
  <img src="/images/feature/india-5.jpg">
  <img src="/images/feature/india-7.jpg">
  <img src="/images/feature/india-10.jpg">
  <img src="/images/feature/india-11.jpg">
  <img src="/images/feature/india-12.jpg">
</div>

<h3><%= t(:moreQ) %></h3>
<p><%= t(:moreA) %></p>

<h3><%= t(:techQ) %></h3>
<p><%= t(:techA) %></p>

<h3><%= t(:ossQ) %></h3>
<p><%= t(:ossA) %></p>

<h3><%= t(:thanksQ) %></h3>
<p><%= t(:thanksA) %></p>