---
title: / About
---

<a href="https://drive.google.com/open?id=12bo_H82Jk8k9cBmN4ta0OGcHP988rDeo&authuser=dburka%40resolvetosavelives.org&usp=drive_fs" class="image-float"><img src="/images/one-pager.jpg" alt=""> Information Sheet (PDF)</a>

<h2>About the project</h2>
<p>Simple is now used in hospitals of all sizes in India, Bangladesh, Ethiopia, and Sri Lanka. In many facilities, clinicians see more than 100 patients each day, so ease-of-use and high performance are key.</p>
<p class="icons"> 
  <i class="fas fa-hospital"></i> <strong><%= number_with_delimiter( t(:active_facilities) ) %> active<sup>*</sup> public health facilities</strong><br>
  <small>from district hospitals to community clinics</small>
</p>
<p class="icons">
  <i class="far fa-users"></i> <strong><%= number_with_delimiter( t(:total_patients) ) %> patients</strong><br>
  <small>with hypertension managed in Simple</small>
</p>
<p class="icons">
  <i class="far fa-heart"></i> <strong><%= number_with_delimiter( t(:total_bp_measures) )%> BPs recorded</strong><br>
  <small>since the program started</small>
</p> 
<p class="icons">
  <i class="fas fa-rabbit-fast"></i> <strong><%= t(:time_to_followup) %> sec follow-up</strong><br>
  <small>median time to record a follow-up visit</small>
</p>
<p class="icons">
  <i class="far fa-stopwatch"></i> <strong><%= t(:time_to_register) %> sec registration</strong><br>
  <small>median time to register a new patient in Simple</small>
</p>
<p><small>* patients recorded at a facility in last 30 days</small><br/><small>** Data updated <%= t(:date_stats_updated) %></small></p>
<p>Simple had strong uptake in public health facilities in India, Bangladesh, Ethiopia, and Sri Lanka. Healthcare workers appreciate that Simple is easy to learn, simple to use, and takes up very little data. In recent surveys, clinicians gave Simple a 4.6/5 star rating.
<span style="display: block; padding-top: 8px;"><i class="fas fa-star" style="color: #FF3355;"></i><i class="fas fa-star" style="color: #FF3355;"></i><i class="fas fa-star" style="color: #FF3355;"></i><i class="fas fa-star" style="color: #FF3355;"></i><i class="fas fa-star-half-alt" style="color: #FF3355;"></i></span></p>

<p><a href="https://www.simple.org/blog/what-we-are-learning/">Read more</a> about what we are doing differently and what we have learned developing Simple.</p>

<h3><%= t(:startQ) %></h3>
<p><%= t(:startA) %></p>

<h3><%= t(:principlesQ) %></h3>
<p><%= t(:principlesA) %></p>

<h3><%= t(:freeQ) %></h3>
<ul>
    <li><%= t(:free1) %></li>
    <li><%= t(:free2) %></li>
    <li><%= t(:free3) %></li>
</ul>
<p><%= t(:freeA) %></p>

<div class="features">
  <img src="/images/feature/india-0.jpg">
  <img src="/images/feature/india-1.jpg">
  <img src="/images/feature/india-2.jpg">
  <img src="/images/feature/india-4.jpg">
  <img src="/images/feature/india-5.jpg">
  <img src="/images/feature/india-7.jpg">
  <img src="/images/feature/india-10.jpg">
  <img src="/images/feature/india-11.jpg">
  <img src="/images/feature/india-12.jpg">
</div>

<h3><%= t(:moreQ) %></h3>
<p><%= t(:moreA) %></p>

<h3><%= t(:techQ) %></h3>
<p><%= t(:techA) %></p>

<h3><%= t(:thanksQ) %></h3>
<p><%= t(:thanksA) %></p>

<h3><%= t(:teamQ) %></h3>
<p><%= t(:teamA) %></p>
<ul class="people">
    <% data.contributors.each do |contributor| %>
        <li>
            <a href="<%= contributor.social_media_path %>">
                <%= contributor.name %>
                <img
                    src="<%= contributor.image_path %>"
                    alt="<%= contributor.name %>"
                >
            </a>
            <div class="small">
                <%= t(contributor.role) %>, <%= t(contributor.country) %>
            </div>
        </li>
    <% end %>
</ul>