  

      <p class="intro">This is just the beginning. We're just starting out on a journey and we will share more as we go.</p>

      <h3><%= I18n.t(:roadmapQ) %></h3>
      <p><%= I18n.t(:roadmapA) %></p>
      <p><%= I18n.t(:roadmapB) %></p>

      <h3><%= I18n.t(:moreQ) %></h3> 
      <p><%= I18n.t(:moreA) %></p>

      <div style="background: url(/images/team.jpg) 50% 70%; background-size: cover;" class="photo">
        <p class="caption small"><%= I18n.t(:caption1) %></p>
      </div>

<h3><%= I18n.t(:teamQ) %></h3>
      <p><%= I18n.t(:teamA) %></p>
      
        <ul class="people">
            <li>
                <a href="http://twitter.com/dburka">
                  Daniel Burka
                  <img src="/images/people/daniel-burka.jpg" alt="Daniel Burka">
                </a>
              <div class="small"><%= I18n.t(:productdesign) %>, <%= I18n.t(:Canada) %></div>
            </li>
            <li>
                <a href="https://twitter.com/timcheadle">
                    Tim Cheadle
                    <img src="/images/people/tim-cheadle.jpg" alt="Tim Cheadle">
                </a>
                <div class="small"><%= I18n.t(:development) %>, <%= I18n.t(:USA) %></div>
            </li>
            <li>
                <a href="http://www.regenstrief.org/person/theresa-cullen/">
                    Dr. Terry Cullen
                    <img src="/images/people/terry-cullen.jpg" alt="Terry Cullen">
                </a>
                <div class="small"><%= I18n.t(:informatics) %>, <%= I18n.t(:USA) %></div>
            </li>
            <li>
                <a href="https://nilenso.com/people.html#steven">
                    Steven Deobald
                    <img src="/images/people/steven-deobald.jpg" alt="Steven Deobald">
                </a>
                <div class="small"><%= I18n.t(:PM) %>, <%= I18n.t(:India) %></div>
            </li>
            <li>
                <a href="https://dribbble.com/prajakta-digamber">
                    Prajakta Digamber
                    <img src="/images/people/prajakta-digamber.jpg" alt="Prajakta Digamber">
                </a>
                <div class="small"><%= I18n.t(:illustration) %>, <%= I18n.t(:India) %></div>
            </li>
            <li>
                <a href="http://www.vitalstrategies.org/executive-team/dr-tom-frieden/">
                    Dr. Tom Frieden
                    <img src="/images/people/tom-frieden.jpg" alt="Tom Frieden">
                </a>
                <div class="small"><%= I18n.t(:epidemiologist) %>, <%= I18n.t(:USA) %></div>
            </li>
            <li>
                <a href="https://twitter.com/vkalpgupta">
                    Vikalp Gupta
                    <img src="/images/people/vkalpgupta.jpg" alt="Vikalp Gupta">
                </a>
                <div class="small"><%= I18n.t(:design) %>, <%= I18n.t(:India) %></div>
            </li>
            <li>
                <a href="http://www.vitalstrategies.org/executive-team/marc-g-jaffee-md/">
                    Dr. Marc Jaffe
                    <img src="/images/people/marc-jaffe.jpg" alt="Dr. Marc Jaffe">
                </a>
                <div class="small"><%= I18n.t(:clinician) %>, <%= I18n.t(:USA) %></div>
            </li>
            <li>
                <a href="https://nilenso.com/people.html#govind">
                    Govind Joshi
                    <img src="/images/people/govind.jpg" alt="Govind Joshi">
                </a>
                <div class="small"><%= I18n.t(:development) %>, <%= I18n.t(:India) %></div>
            </li>
            <li>
                <a href="https://twitter.com/prxtl">
                    Pratul Kalia
                    <img src="/images/people/pratul.jpg" alt="Pratul Kalia">
                </a>
                <div class="small"><%= I18n.t(:development) %>, <%= I18n.t(:India) %></div>
            </li>
            <li>
                <a href="http://www.nie.gov.in/staff-more.php?mid=Mg==&divid=Nw==&id=Njc=">
                    Dr. Prabhdeep Kaur
                    <img src="/images/people/prabhdeep.jpg" alt="Prabhdeep Kaur">
                </a>
                <div class="small"><%= I18n.t(:epidemiologist) %>, <%= I18n.t(:India) %></div>
            </li>
            <li>
                <span>
                    Dr. Gaurav Kumar
                    <img src="/images/people/gaurav.jpg" alt="Dr. Gaurav Kumar">
                </span>
                <div class="small"><%= I18n.t(:epidemiologist) %>, <%= I18n.t(:India) %></div>
            </li>
            <li>
                <a href="http://saket.me/">
                    Saket Narayan
                    <img src="/images/people/saket.jpg" alt="Saket Narayan">
                </a>
                <div class="small"><%= I18n.t(:development) %>, <%= I18n.t(:India) %></div>
            </li>
            <li>
                <span>
                    Dr. Anupam Khungar Pathni
                    <img src="/images/people/anupam.jpg" alt="Dr. Anupam Khungar Pathni">
                </span>
                <div class="small"><%= I18n.t(:epidemiologist) %>, <%= I18n.t(:India) %></div>
            </li>
            <li>
                <a href="https://twitter.com/_DhruvSaxena">
                    Dhruv Saxena
                    <img src="/images/people/dhruv.jpg" alt="Dhruv Saxena">
                </a>
                <div class="small"><%= I18n.t(:design) %>, <%= I18n.t(:India) %></div>
            </li>
            <li>
                <span>
                    Dr. Roopa Shivashankar
                    <img src="/images/people/roopa.jpg" alt="Roopa Shivashankar">
                </span>
                <div class="small"><%= I18n.t(:epidemiologist) %>, <%= I18n.t(:India) %></div>
            </li>
            <li>
                <a href="https://twitter.com/sriharisriraman">
                    Srihari Sriraman
                    <img src="/images/people/shrihari.jpg" alt="Srihari Sriraman">
                </a>
                <div class="small"><%= I18n.t(:development) %>, <%= I18n.t(:India) %></div>
            </li>
            <li>
                <a href="https://nilenso.com/people.html#deepa">
                    Deepa Venkatraman
                    <img src="/images/people/deepa.jpg" alt="Deepa Venkatraman">
                </a>
                <div class="small"><%= I18n.t(:PM) %>, <%= I18n.t(:India) %></div>
            </li>
        </ul>