---
title: About
---

<a href="https://drive.google.com/a/resolvetosavelives.org/file/d/1M2BpHYZALN8UAOaLZUfwFKCRvmq0fI7s/view?usp=sharing" class="image-float"><img src="/images/one-pager.jpg" alt=""> Information Sheet (PDF)</a>

<h2>About the project</h2>
<p>Simple is now used in hospitals of all sizes in India and Bangladesh. In many facilities, clinicians see more than 100 patients each day, so ease-of-use and high performance are key.</p>
<p class="icons"> 
    <i class="fas fa-hospital"></i> <strong>580 public health facilities</strong><br>
    <small>from district hospitals to community clinics</small>
</p>
<p class="icons">
    <i class="far fa-users"></i> <strong>257,010 patients</strong><br>
    <small>with hypertension managed in Simple</small>
</p>
<p class="icons">
    <i class="far fa-heart"></i> <strong>911,030 BPs recorded</strong><br>
    <small>since the program started</small>
</p>
<p class="icons">
    <i class="fas fa-rabbit-fast"></i> <strong>14 sec follow-up (median)</strong><br>
    <small>time to enter a follow-up visit if patient has a BP Passport ID card</small>
</p>
<p class="icons">
    <i class="far fa-stopwatch"></i> <strong>65 sec registration (median)</strong><br>
    <small>time to register a new patient into Simple</small>
</p>
<p class="icons">
    <i class="far fa-comment-alt-lines"></i> <strong>191,152 text messages sent</strong><br>
    <small>reminding patients to return for follow-up</small>
</p>
<p><small>* Data updated May 8, 2020</small></p>
<p>Simple had strong uptake in public health facilities in India and Bangladesh. Healthcare workers appreciate that Simple is easy to learn, simple to use, and takes up very little data. In a recent survey, nurses and doctors gave Simple a 4.5/5 star rating.
<span style="display: block; padding-top: 8px;"><i class="fas fa-star" style="color: #FF3355;"></i><i class="fas fa-star" style="color: #FF3355;"></i><i class="fas fa-star" style="color: #FF3355;"></i><i class="fas fa-star" style="color: #FF3355;"></i><i class="fas fa-star-half-alt" style="color: #FF3355;"></i></span></p>

<p><a href="https://medium.com/simple-dot-org/what-we-are-learning-by-creating-an-ultra-thin-emr-d178e6bbdbd4?source=friends_link&sk=b5fdadf22709e96a409ec11e6c772c19">Read more</a> about what we are doing differently and what we have learned developing Simple.</p>

<h3><%= t(:startQ) %></h3>
<p><%= t(:startA) %></p>

<h3><%= t(:principlesQ) %></h3>
<p><%= t(:principlesA) %></p>

<h3><%= t(:freeQ) %></h3>
<ul>
    <li><%= t(:free1) %></li>
    <li><%= t(:free2) %></li>
    <li><%= t(:free3) %></li>
</ul>
<p><%= t(:freeA) %></p>

<div class="features">
  <img src="/images/feature/india-0.jpg">
  <img src="/images/feature/india-1.jpg">
  <img src="/images/feature/india-2.jpg">
  <img src="/images/feature/india-4.jpg">
  <img src="/images/feature/india-5.jpg">
  <img src="/images/feature/india-7.jpg">
  <img src="/images/feature/india-10.jpg">
  <img src="/images/feature/india-11.jpg">
  <img src="/images/feature/india-12.jpg">
</div>

<h3><%= t(:moreQ) %></h3>
<p><%= t(:moreA) %></p>

<h3><%= t(:techQ) %></h3>
<p><%= t(:techA) %></p>

<h3><%= t(:thanksQ) %></h3>
<p><%= t(:thanksA) %></p>

<h3><%= t(:teamQ) %></h3>
      <p><%= t(:teamA) %></p>

        <ul class="people">
            <li>
                <a href="https://new.uncommon.is/about/">
                  Sanchita Agarwal
                  <img src="/images/people/sanchita.jpg" alt="Sanchita Agarwal">
                </a>
              <div class="small"><%= t(:development) %>, <%= t(:India) %></div>
            </li>
            <li>
                <a href="http://twitter.com/dburka">
                  Daniel Burka
                  <img src="/images/people/daniel-burka.jpg" alt="Daniel Burka">
                </a>
              <div class="small"><%= t(:productdesign) %>, <%= t(:Canada) %></div>
            </li>
            <li>
                <a href="https://twitter.com/mahima_chandak">
                    Mahima Chandak
                    <img src="/images/people/mahima.jpg" alt="Mahima Chandak">
                </a>
                <div class="small"><%= t(:design) %>, <%= t(:India) %></div>
            </li>
            <li>
                <a href="https://twitter.com/timcheadle">
                    Tim Cheadle
                    <img src="/images/people/tim-cheadle.jpg" alt="Tim Cheadle">
                </a>
                <div class="small"><%= t(:development) %>, <%= t(:USA) %></div>
            </li>
            <li>
                <a href="http://www.regenstrief.org/person/theresa-cullen/">
                    Dr. Terry Cullen
                    <img src="/images/people/terry-cullen.jpg" alt="Terry Cullen">
                </a>
                <div class="small"><%= t(:informatics) %>, <%= t(:USA) %></div>
            </li>
            <li>
                <a href="https://dribbble.com/prajakta-digamber">
                    Prajakta Digamber
                    <img src="/images/people/prajakta-digamber.jpg" alt="Prajakta Digamber">
                </a>
                <div class="small"><%= t(:illustration) %>, <%= t(:India) %></div>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/margaret-farrell-2a28a21/">
                    Meg Farrell
                    <img src="/images/people/meg.jpg" alt="Meg Farrell">
                </a>
                <div class="small"><%= t(:epidemiologist) %>, <%= t(:USA) %></div>
            </li>
            <li>
                <a href="/dr-tom-frieden/">
                    Dr. Tom Frieden
                    <img src="/images/people/tom-frieden.jpg" alt="Tom Frieden">
                </a>
                <div class="small"><%= t(:epidemiologist) %>, <%= t(:USA) %></div>
            </li>
            <li>
                <a href="https://github.com/kitallis">
                    Akshay Gupta
                    <img src="/images/people/akshaygupta.jpg" alt="Akshay Gupta">
                </a>
                <div class="small"><%= t(:development) %>, <%= t(:India) %></div>
            </li>
            <li>
                <a href="https://twitter.com/vkalpgupta">
                    Vikalp Gupta
                    <img src="/images/people/vkalpgupta.jpg" alt="Vikalp Gupta">
                </a>
                <div class="small"><%= t(:design) %>, <%= t(:India) %></div>
            </li>
            <li>
                <a href="https://twitter.com/rakshakhegde">
                    Rakshak Hegde
                    <img src="/images/people/rakshak.jpg" alt="Rakshak Hegde">
                </a>
                <div class="small"><%= t(:development) %>, <%= t(:India) %></div>
            </li>
            <li>
                <a href="http://www.vitalstrategies.org/executive-team/marc-g-jaffee-md/">
                    Dr. Marc Jaffe
                    <img src="/images/people/marc-jaffe.jpg" alt="Dr. Marc Jaffe">
                </a>
                <div class="small"><%= t(:clinician) %>, <%= t(:USA) %></div>
            </li>
            <li>
                <a href="http://design.listeningtree.co/">
                    Tanushree Jindal
                    <img src="/images/people/tanushree.jpg" alt="Tanushree Jindal">
                </a>
                <div class="small"><%= t(:research) %>, <%= t(:India) %></div>
            </li>
            <li>
                <a href="https://twitter.com/thetimmyjose">
                    Timmy Jose
                    <img src="/images/people/timmy.jpg" alt="Timmy Jose">
                </a>
                <div class="small"><%= t(:development) %>, <%= t(:India) %></div>
            </li>
            <li>
                <a href="https://nilenso.com/people.html#govind">
                    Govind Joshi
                    <img src="/images/people/govind.jpg" alt="Govind Joshi">
                </a>
                <div class="small"><%= t(:development) %>, <%= t(:India) %></div>
            </li>
            <li>
                <a href="https://twitter.com/prxtl">
                    Pratul Kalia
                    <img src="/images/people/pratul.jpg" alt="Pratul Kalia">
                </a>
                <div class="small"><%= t(:development) %>, <%= t(:India) %></div>
            </li>
            <li>
                <a href="http://www.nie.gov.in/staff-more.php?mid=Mg==&divid=Nw==&id=Njc=">
                    Dr. Prabhdeep Kaur
                    <img src="/images/people/prabhdeep.jpg" alt="Prabhdeep Kaur">
                </a>
                <div class="small"><%= t(:epidemiologist) %>, <%= t(:India) %></div>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/drashishkrishna/?originalSubdomain=in">
                    Dr. Ashish Krishna
                    <img src="/images/people/ashish.jpg" alt="Dr. Ashish Krishna">
                </a>
                <div class="small"><%= t(:epidemiologist) %>, <%= t(:India) %></div>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/praveen-kumar-ab589b179/">
                    Praveen Kumar
                    <img src="/images/people/praveen.jpg" alt="Praveen Kumar">
                </a>
                <div class="small"><%= t(:deployment) %>, <%= t(:India) %></div>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/abhishek-kunwar-30905715a">
                    Dr. Abhishek Kunwar
                    <img src="/images/people/abhishek.jpg" alt="Dr. Abhishek Kunwar">
                </a>
                <div class="small"><%= t(:epidemiologist) %>, <%= t(:India) %></div>
            </li>
            <li>
                <a href="https://twitter.com/Pragti_">
                    Pragati Mehrotra
                    <img src="/images/people/pragati.jpg" alt="Pragati Mehrotra">
                </a>
                <div class="small"><%= t(:design) %>, <%= t(:India) %></div>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/sasikanthmiriyampalli/">
                    Sasikanth Miriyampalli
                    <img src="/images/people/sasikanth.jpg" alt="Sasikanth Miriyampalli">
                </a>
                <div class="small"><%= t(:development) %>, <%= t(:India) %></div>
            </li>
            <li>
                <a href="http://harimohanraj.com/">
                    Hari Mohanraj
                    <img src="/images/people/hari.jpg" alt="Hari Mohanraj">
                </a>
                <div class="small"><%= t(:development) %>, <%= t(:India) %></div>
            </li>
            <li>
                <a href="http://saket.me/">
                    Saket Narayan
                    <img src="/images/people/saket.jpg" alt="Saket Narayan">
                </a>
                <div class="small"><%= t(:development) %>, <%= t(:India) %></div>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/sagri-negi-b8486228/">
                    Sagri Negi
                    <img src="/images/people/sagri.jpg" alt="Sagri Negi">
                </a>
                <div class="small"><%= t(:epidemiologist) %>, <%= t(:India) %></div>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/anupam-khungar-pathni-07788814">
                    Dr. Anupam Khungar Pathni
                    <img src="/images/people/anupam.jpg" alt="Dr. Anupam Khungar Pathni">
                </a>
                <div class="small"><%= t(:epidemiologist) %>, <%= t(:India) %></div>
            </li>
            <li>
                <a href="https://twitter.com/therealdivs1210">
                    Divyansh Prakash
                    <img src="/images/people/divyansh.jpg" alt="Divyansh Prakash">
                </a>
                <div class="small"><%= t(:development) %>, <%= t(:India) %></div>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/varenyaraj/">
                    Varenya Raj
                    <img src="/images/people/varenya.jpg" alt="Varenya Raj">
                </a>
                <div class="small"><%= t(:design) %>, <%= t(:India) %></div>
            </li>
            <li>
                <a href="https://twitter.com/dhruvsaxena_">
                    Dhruv Saxena
                    <img src="/images/people/dhruv.jpg" alt="Dhruv Saxena">
                </a>
                <div class="small"><%= t(:design) %>, <%= t(:India) %></div>
            </li>
            <li>
                <a href="https://twitter.com/vinaysshenoy">
                    Vinay Shenoy
                    <img src="/images/people/vinay.jpg" alt="Vinay Shenoy">
                </a>
                <div class="small"><%= t(:development) %>, <%= t(:India) %></div>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/roopa-shivashankar-518048158/">
                    Dr. Roopa Shivashankar
                    <img src="/images/people/roopa.jpg" alt="Roopa Shivashankar">
                </a>
                <div class="small"><%= t(:epidemiologist) %>, <%= t(:India) %></div>
            </li>
            <li>
                <a href="https://twitter.com/sriharisriraman">
                    Srihari Sriraman
                    <img src="/images/people/shrihari.jpg" alt="Srihari Sriraman">
                </a>
                <div class="small"><%= t(:development) %>, <%= t(:India) %></div>
            </li>
            <li>
                <a href="https://www.claudiovallejo.mx/">
                    Claudio Vallejo
                    <img src="/images/people/claudio.jpg" alt="Claudio Vallejo">
                </a>
                <div class="small"><%= t(:design) %>, Mexico</div>
            </li>
            <li>
                <a href="https://nilenso.com/people.html#deepa">
                    Deepa Venkatraman
                    <img src="/images/people/deepa.jpg" alt="Deepa Venkatraman">
                </a>
                <div class="small"><%= t(:PM) %>, <%= t(:India) %></div>
            </li>
            <li>
                <a href="https://twitter.com/akshayverma1">
                    Akshay Verma
                    <img src="/images/people/averma.jpg" alt="Akshay Verma">
                </a>
                <div class="small"><%= t(:design) %>, <%= t(:India) %></div>
            </li>
        </ul>