---
title: Home
social: social.jpg
---

    <p class="intro">
        <%= t(:intro) %>
          
        <span class="download">
            
            <!--a href="https://play.google.com/store/apps/details?id=org.simple.clinic.staging" class="button button-play"><img src="/images/googleplay.png" alt=""> Install the demo</a-->
        
            <!--a href="#videos" class="button button-play"><img src="/images/youtube.png" alt=""> Watch a video</a-->
            
        </span>
      <p>Simple is designed to support large-scale hypertension and NCD management programs. The app is deployed in 580 public health facilities in India and Bangladesh to manage 257,010 patients with hypertension.</p>
      <p> Healthcare workers record every patient visit in an app, managers get daily reports to monitor progress, and patients can chart their own BPs.</p>

          <div style="margin-top: 3em;">
              <a href="/simple-app" class="product-image"><img src="/images/screen-bp.png"></a>
              <p style="margin: 0; font-size: 120%;"><a href="/simple-app"><b>Simple app</b></a></p>
              <p style="font-size: 90%;">for healthcare workers</p>
              <p>An easy-to-use mobile app for healthcare workers to record BPs, blood sugars, and medicines at every patient visit, in less than 20 seconds.</p>
          </div>
          <div style="margin-top: 3em;">
              <a href="/simple-dashboard" class="product-image"><img style="left: -20px; top: -20px;" src="/images/product-dashboard.png"></a>
              <p style="margin: 0; font-size: 120%;"><a href="/simple-dashboard"><b>Simple dashboard</b></a></p>
              <p style="font-size: 90%;">for health system managers</p>
              <p>A web-based dashboard for officials and health system managers to monitor hypetension control across facilities and regions.</p>
          </div>
          <div style="margin-top: 3em;">
              <a href="/bp-passport" class="product-image"><img src="/images/screen-bp-passport.png"></a>
              <p style="margin: 0; font-size: 120%;"><a href="/bp-passport"><b>BP Passport app</b></a></p>
              <p style="font-size: 90%;">for patients and caregivers</p>
              <p>A simple iOS and Android app for patients to record BPs and blood sugars, which reminds patients to take their medications.</p>
          </div>
      
      

      <h3 style="margin-top: 5em;"><%= t(:freeQ) %></h3>
      <p><%= t(:freeA) %></p>      
      <div class="free">
        <p class="free-yes"><%= t(:free1) %></p>
        <p class="free-code"><%= t(:free2) %></p>
        <p class="free-forever"><%= t(:free3) %></p>
      </div>
      
      <div class="videowrapper" style="margin: 2em 0 1em 0;">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/C26CoyeExmU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <p>A short documentary showing how Simple is used as part of IHCI, the India Hypertension Control Initiative.</p>
