      <div class="notice">Translations are in progress...</div>

      <p class="intro">
        <%= t(:intro) %>
      </p>

      <h3><%= t(:whatQ) %></h3>
      <p><%= t(:whatA) %></p>

      <h3><%= t(:startQ) %></h3>
      <p><%= t(:startA) %></p>

      <h3><%= t(:principlesQ) %></h3>
      <p><%= t(:principlesA) %></p>

      <h3><%= t(:freeQ) %></h3>
      <div class="free">
        <p class="free-yes"><%= t(:free1) %></p>
        <p class="free-code"><%= t(:free2) %></p>
        <p class="free-forever"><%= t(:free3) %></p>
      </div>
      <p><%= t(:freeA) %></p>

      <h3><%= t(:techQ) %></h3>
      <p><%= t(:techA) %></p>

      <h3><%= t(:ossQ) %></h3>
      <p><%= t(:ossA) %></p>

      <h3><%= t(:thanksQ) %></h3>
      <p><%= t(:thanksA) %></p>

      <div class="features">
          <img src="/images/feature/india-0.jpg">
          <img src="/images/feature/india-1.jpg">
          <img src="/images/feature/india-2.jpg">
          <img src="/images/feature/india-3.jpg">
          <img src="/images/feature/india-4.jpg">
          <img src="/images/feature/india-5.jpg">
          <img src="/images/feature/india-6.jpg">
          <img src="/images/feature/india-7.jpg">

          <img src="/images/feature/india-9.jpg">
          <img src="/images/feature/india-10.jpg">
          <img src="/images/feature/india-11.jpg">
          <img src="/images/feature/india-12.jpg">
      </div>
