      <p class="intro">
        <%= I18n.t(:intro) %>
      </p>

      <h3><%= I18n.t(:whatQ) %></h3>
      <p><%= I18n.t(:whatA) %></p>
      
      <h3><%= I18n.t(:startQ) %></h3>
      <p><%= I18n.t(:startA) %></p>
      
      <h3><%= I18n.t(:principlesQ) %></h3>
      <p><%= I18n.t(:principlesA) %></p>
      
      <h3><%= I18n.t(:freeQ) %></h3>
      <div class="free">
        <p class="free-yes"><%= I18n.t(:free1) %></p>
        <p class="free-code"><%= I18n.t(:free2) %></p>
        <p class="free-forever"><%= I18n.t(:free3) %></p>
      </div>
      <p><%= I18n.t(:freeA) %></p>

      <h3><%= I18n.t(:techQ) %></h3>
      <p><%= I18n.t(:techA) %></p>
    
      <h3><%= I18n.t(:ossQ) %></h3>
      <p><%= I18n.t(:ossA) %></p>
      
      <h3><%= I18n.t(:thanksQ) %></h3>
      <p><%= I18n.t(:thanksA) %></p>

      <div class="features">
          <img src="/images/feature/india-0.jpg">
          <img src="/images/feature/india-1.jpg">
          <img src="/images/feature/india-2.jpg">
          <img src="/images/feature/india-3.jpg">
          <img src="/images/feature/india-4.jpg">
          <img src="/images/feature/india-5.jpg">
          <img src="/images/feature/india-6.jpg">
          <img src="/images/feature/india-7.jpg">

          <img src="/images/feature/india-9.jpg">
          <img src="/images/feature/india-10.jpg">
          <img src="/images/feature/india-11.jpg">
          <img src="/images/feature/india-12.jpg">
      </div>