      <p class="intro">
        <%= t(:intro) %>
          
        <span class="download"><a href="https://play.google.com/store/apps/details?id=org.simple.clinic.staging" class="button button-play"><img src="/images/googleplay.png" alt="" style="height: 20px; vertical-align: middle; margin-right: 8px;"> Try the demo on Google Play</a></span>
      </p>

      <h3><%= t(:whatQ) %></h3>
      <p><%= t(:whatA) %></p>
      
      <div class="howitworks howitworks-left">
        <a href="/images/screen-bp.png"><a href="/images/screen-bp.png"><img src="/images/screen-bp.png" alt=""></a></a>
        <div>
            <h5>Record a BP in under 20 sec</h5>
            <p>We intentionally keep Simple really simple and focused so a healthcare worker can register a patient and record his or her BP in under 20 seconds.</p>
        </div>
      </div>
      
      <div class="howitworks howitworks-right">
        <a href="/images/screen-search.png"><img src="/images/screen-search.png" alt=""></a>
        <div>
            <h5>Find the right patient, fast</h5>
            <p>We have honed the patient search, so a healthcare worker can choose the right patient confidently and quickly. The patient search handles misspellings and phonetic look-up.</p>
        </div>
      </div>

      <div class="howitworks howitworks-left">
        <a href="/images/screen-summary.png"><img src="/images/screen-summary.png" alt=""></a>
        <div>
            <h5>BP history is simply displayed</h5>
            <p>A patient's BP history is displayed in a way that nurses and doctors can use in a busy care environment. We will add graphing of BPs soon.</p>
        </div>
      </div>
      
      <div class="howitworks howitworks-right">
        <a href="/images/screen-schedule.png"><img src="/images/screen-schedule.png" alt=""></a>
        <div>
            <h5>Follow-up with every patient</h5>
            <p>It's very important for patients to return to the clinic for treatment on a regular schedule. Scheduling follow-ups is easy and the patient will receive text message reminders to return to care.</p>
        </div>
      </div>

      <div class="howitworks howitworks-left">
        <a href="/images/screen-overdue.png"><img src="/images/screen-overdue.png" alt=""></a>
        <div>
            <h5>Remind overdue patients to return</h5>
            <p>If a patient misses their follow-up visit, Simple will add them to an easy-to-use overdue list. Any staff member can call the patient and Simple hides their phone number from the patient.</p>
        </div>
      </div>

      <div class="howitworks howitworks-right">
        <a href="/images/screen-connection.png"><img src="/images/screen-connection.png" alt=""></a>
        <div>
            <h5>Offline first, high performance</h5>
            <p>The app works great in places with unreliable connectivity and where a healthcare worker may be offline for days at a time.</p>
        </div>
      </div>

      <div class="howitworks howitworks-left">
        <a href="/images/screen-devices.png"><img src="/images/screen-devices.png" alt=""></a>
        <div>
            <h5>Use any Android device</h5>
            <p>Simple has been designed to work on either personal phones or on clinic-owned devices. The app has a small footprint, under 10MB, and is light on data usage.</p>
        </div>
      </div>
      
      <div class="clear"></div>

      <h3><%= t(:freeQ) %></h3>
      <p><%= t(:freeA) %></p>      
      <div class="free">
        <p class="free-yes"><%= t(:free1) %></p>
        <p class="free-code"><%= t(:free2) %></p>
        <p class="free-forever"><%= t(:free3) %></p>
      </div>
      

      <!--div class="videoWrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rKHOHytTjtM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div-->
