---
social: social-may-2022.jpg
---

    <p class="intro">
        <%= t(:intro) %>
          
        <span class="download">
            
            <!--a href="https://play.google.com/store/apps/details?id=org.simple.clinic.staging" class="button button-play"><img src="/images/googleplay.png" alt=""> Install the demo</a-->
        
            <!--a href="#videos" class="button button-play"><img src="/images/youtube.png" alt=""> Watch a video</a-->
            
        </span>

        <p>Simple is designed to support large-scale hypertension and diabetes management programs. The app is actively used in <%= number_with_delimiter( t(:active_facilities_india) + t(:active_facilities_bd) + t(:active_facilities_sl) + t(:active_facilities_et) ) %> public health facilities in India, Bangladesh, Ethiopia, and Sri Lanka to manage <%= number_with_delimiter( t(:total_patients_india) + t(:total_patients_bd) + t(:total_patients_sl) + t(:total_patients_et) ) %> patients with hypertension and diabetes &#8212; updated <%= t(:date_stats_updated) %>.</p>
        <p>Healthcare workers record every patient's visit in an app, managers receive daily reports to monitor progress, and patients can chart their own BPs and blood sugars.</p>
        <p>In 2022, Simple was <a href="/blog/simple-digital-public-goods/">recognized as Digital Public Good</a> by the <a href="https://digitalpublicgoods.net/">Digital Public Goods Alliance</a>.</p>
      
      <h3 margin: 7em 0 0 0 !important;">Simple has three parts</h3>

          <div style="margin-top: 1em;">
              <a href="/simple-app" class="product-image"><img src="/images/screen-bp.png"></a>
              <h3 style="font-weight: 300;"><a href="/simple-app">Simple app</a></h3>
              <p class="product-pargraph">An easy-to-use mobile app for healthcare workers to record BPs, blood sugars, and medicines at every patient visit in about 14 seconds.</p>
              <a class="product-link" href="/simple-app">Learn more about Simple app &#8594;</a>
          </div>
          <div style="margin-top: 3em;">
              <a href="/simple-dashboard" class="product-image"><img style="left: -20px; top: -20px;" src="/images/product-dashboard.png"></a>
              <h3 style="font-weight: 300;"><a href="/simple-dashboard">Simple dashboard</a></h3>
              <p class="product-pargraph">A web-based dashboard for officials and health system managers to monitor hypertension control across facilities and regions.</p>
              <a class="product-link" href="/simple-dashboard">Learn more about Simple dashboard &#8594;</a>
          </div>
          <div style="margin-top: 3em;">
              <a href="/bp-passport" class="product-image"><img src="/images/screen-bp-passport.png"></a>
              <h3 style="font-weight: 300;"><a href="/bp-passport">BP Passport app</a></h3>
              <p class="product-pargraph">An app for patients and caregivers to record BPs and blood sugars that has daily medication reminders. iOS and Android.</p>
              <a class="product-link" href="/bp-passport">Learn more about BP Passport app &#8594;</a>
          </div>
      
      <h3 style="margin: 5em 0 1em 0;">Features</h3>
      <%= t(:features) %>

      <h3 style="margin-top: 5em;"><%= t(:freeQ) %></h3>
      <p><%= t(:freeA) %></p>      
      <div class="free">
        <p class="free-yes"><%= t(:free1) %></p>
        <p class="free-code"><%= t(:free2) %></p>
        <p class="free-forever"><%= t(:free3) %></p>
      </div>
      
      <div class="videowrapper" style="margin: 2em 0 1em 0;">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/C26CoyeExmU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <p>A short documentary showing how Simple is used as part of IHCI, the India Hypertension Control Initiative.</p>