      <p class="intro">
        <%= I18n.t(:intro) %>
      </p>

      <h3><%= I18n.t(:whatQ) %></h3>
      <p><%= I18n.t(:whatA) %></p>
      
      <h3><%= I18n.t(:startQ) %></h3>
      <p><%= I18n.t(:startA) %></p>
      
      <h3><%= I18n.t(:principlesQ) %></h3>
      <p><%= I18n.t(:principlesA) %></p>
      
      <h3><%= I18n.t(:freeQ) %></h3>
      <div class="free">
        <p class="free-yes"><%= I18n.t(:free1) %></p>
        <p class="free-code"><%= I18n.t(:free2) %></p>
        <p class="free-forever"><%= I18n.t(:free3) %></p>
      </div>
      <p><%= I18n.t(:freeA) %></p>

      <h3><%= I18n.t(:techQ) %></h3>
      <p><%= I18n.t(:techA) %></p>
      
      <h3><%= I18n.t(:teamQ) %></h3>
      <p><%= I18n.t(:teamA) %></p>
      
        <ul class="people">
            <li>
              <a href="http://twitter.com/dburka">Daniel Burka</a>
              <div class="small"><%= I18n.t(:productdesign) %>, <%= I18n.t(:Canada) %></div>
            </li>
            <li>
                <a href="https://twitter.com/timcheadle">Tim Cheadle</a>
                <div class="small"><%= I18n.t(:development) %>, <%= I18n.t(:USA) %></div>
            </li>
            <li>
                <a href="http://www.regenstrief.org/person/theresa-cullen/">Dr. Terry Cullen</a>
                <div class="small"><%= I18n.t(:informatics) %>, <%= I18n.t(:USA) %></div>
            </li>
            <li>
                <a href="https://nilenso.com/people.html#steven">Steven Deobald</a>
                <div class="small"><%= I18n.t(:PM) %>, <%= I18n.t(:India) %></div>
            </li>
            <li>
                <a href="https://dribbble.com/prajakta-digamber">Prajakta Digamber</a>
                <div class="small"><%= I18n.t(:illustration) %>, <%= I18n.t(:India) %></div>
            </li>
            <li>
                <a href="http://www.vitalstrategies.org/executive-team/dr-tom-frieden/">Dr. Tom Frieden</a>
                <div class="small"><%= I18n.t(:epidemiologist) %>, <%= I18n.t(:USA) %></div>
            </li>
            <li>
                <a href="https://twitter.com/vkalpgupta">Vikalp Gupta</a>
                <div class="small"><%= I18n.t(:design) %>, <%= I18n.t(:India) %></div>
            </li>
            <li>
                <a href="http://www.vitalstrategies.org/executive-team/marc-g-jaffee-md/">Dr. Marc Jaffe</a>
                <div class="small"><%= I18n.t(:clinician) %>, <%= I18n.t(:USA) %></div>
            </li>
            <li>
                <a href="https://nilenso.com/people.html#govind">Govind Joshi</a>
                <div class="small"><%= I18n.t(:development) %>, <%= I18n.t(:India) %></div>
            </li>
            <li>
                <a href="https://twitter.com/prxtl">Pratul Kalia</a>
                <div class="small"><%= I18n.t(:development) %>, <%= I18n.t(:India) %></div>
            </li>
            <li>
                <a href="http://www.nie.gov.in/staff-more.php?mid=Mg==&divid=Nw==&id=Njc=">Dr. Prabhdeep Kaur</a>
                <div class="small"><%= I18n.t(:ICMR) %>, <%= I18n.t(:India) %></div>
            </li>
            <li>
                <a href="http://saket.me/">Saket Narayan</a>
                <div class="small"><%= I18n.t(:development) %>, <%= I18n.t(:India) %></div>
            </li>
            <li>
                <a href="https://twitter.com/_DhruvSaxena">Dhruv Saxena</a>
                <div class="small"><%= I18n.t(:design) %>, <%= I18n.t(:India) %></div>
            </li>
            <li>
                <a href="https://twitter.com/sriharisriraman">Srihari Sriraman</a>
                <div class="small"><%= I18n.t(:development) %>, <%= I18n.t(:India) %></div>
            </li>
            <li>
                <a href="https://nilenso.com/people.html#deepa">Deepa Venkatraman</a>
                <div class="small"><%= I18n.t(:PM) %>, <%= I18n.t(:India) %></div>
            </li>
        </ul>
    
      <h3><%= I18n.t(:ossQ) %></h3>
      <p><%= I18n.t(:ossA) %></p>
      
      <h3><%= I18n.t(:thanksQ) %></h3>
      <p><%= I18n.t(:thanksA) %></p>
