---
layout: barebones
title: Screenshots
social: social-2-5.jpg

app_screens:

    - img: introduction.png
      title: Introduction
      caption: New users are presented with an optional 5 minute training video before starting to use Simple.

    - img: home-screen.png
      title: Home screen
      caption: The main screen of the app. Search for patients, scan BP Passports, and quickly look up recent patients.

    - img: scan-bp-passport.png
      title: Scan "BP Passport"
      caption: Patients are given a paper ID called a BP Passport. Scan the QR code to immediately see the correct patient in Simple.

    - img: patient-summary.png
      title: Patient summary
      caption: The main screen for a patient showing their longitudinal health record. Healthcare workers add BPs and medications.

    - img: add-bp-measure.png
      title: Add BP measure
      caption: Manual entry of a blood pressure of a patient. By default, BPs are for "today" but users can back-date entries by tapping the date.

    - img: choose-medications.png
      title: Choose medications
      caption: Protocol medications and other common BP medication are pre-loaded by default. These are custom per region. Users can optionally enter any other medication by typing out the name.

    - img: choose-medication-dosage.png
      title: Choose medication dosage
      caption: Protocol and common medications have pre-loaded default values, so a user can tap-tap and be finished quickly.

    - img: custom-medication.png
      title: Custom medication
      caption: Users can enter any medication by typing it in.

    - img: schedule-next-visit.png
      title: Schedule next visit
      caption: At the end of each encounter, users schedule the next visit date. Patients who miss visits are prompted with an SMS reminder and then are added to an "Overdue" list for follow-up by a healthcare worker.

    - img: search-results.png
      title: Search results
      caption: When patients don't have a BP Passport, users search manually and disambiguate to choose the right patient.

    - img: register-a-new-patient.png
      title: Register a new patient
      caption: Simple asks for the minumum number of fields possible to confidently ID a patient in the future. In places we ID systems we would ask for state ID, health ID, etc.

    - img: medical-history.png
      title: Medical history
      caption: During registration, healthcare workers enter a minimum of necessary cardiovascular history questions about the patient.

    - img: overdue-contact-list.png
      title: Overdue contact list
      caption: Call overdue (defaulted) patients to have them return to care. Calls are routed through an anonymization service so patients don't see nurses' phone numbers.

    - img: overdue-call-results.png
      title: Overdue call results
      caption: After calling a patient, the user marks the result of the call.

    - img: progress-view.png
      title: Progress overview
      caption: The progress tab shows statistics for this facility, to encourage healthcare workers in their work.

dashboard_screens:

    - img: dashboard-home.png
      title: Dashboard home
      caption: Managers can oversee new health worker requests, access data for all districts, see recent Simple updates and find tech team office hours.

    - img: dashboard-reports-bp-cropped.png
      img_full: dashboard-reports-bp.png
      title: Dashboard district view for hypertension
      caption: Oversee hypertension control rates, registrations, missed visits, population coverage, lost-to-follow-up rates and compare facility performance.

    - img: dashboard-reports-dm-cropped.png
      img_full: dashboard-reports-dm.png
      title: Dashboard district view for diabetes
      caption: Oversee diabetes control rates, registrations, missed visits, population coverage, lost-to-follow-up rates and compare facility performance.

    - img: dashboard-overdue.png
      title: Dashboard overdue patients list
      caption: A line list of patients that are overdue for their appointment.

    - img: dashboard-drug-stock.png
      title: Dashboard overdue patients list
      caption: A drug stock list for a district showing the stock and number of patient days remaining for each drug. The table shows stock for entire district and for each individual facility.

---

<h3 style="margin-bottom: 2em;"><i class="fas fa-user-md"></i> Simple app for healthcare workers: Android</h3>

<% current_page.data.app_screens.each do |screen| %>
    <a href="/images/screens/<%= screen.img %>" class="mobile-screen-wrapper">
        <span class="title"><strong><%= screen.title %></strong></span>
        <span class="mobile-screen" style="background-image: url(/images/screens/<%= screen.img %>);"><span class="mobile-screen-overlay"></span></span>
        <span class="desc"><%= screen.caption %></span>
        <i class="fas fa-search-plus"></i>
    </a>
    
<% end %>

<br style="clear: both;">

<h3 style="margin-bottom: 2em;"><i class="fas fa-globe-asia"></i> Simple dashboard for managers: Web-based</h3>

<% current_page.data.dashboard_screens.each do |screen| %>
    <% if defined?(screen.img_full) %>
    <a href="/images/screens/<%= screen.img_full %>" class="dashboard-screen-wrapper">
    <% else %>
    <a href="/images/screens/<%= screen.img %>" class="dashboard-screen-wrapper">
    <% end %>
        <span class="title"><strong><%= screen.title %></strong></span>
        <img src="/images/screens/<%= screen.img %>" alt="">
        <span class="desc"><%= screen.caption %></span>
        <i class="fas fa-search-plus"></i>
    </a>
<% end %>

<br style="clear: both;">