---
title: "Simple Wins \"Best in Show\" at the IxDA Awards in Milan"
date: "2020/02/12"
reading_time: "3"
cover_image_path: "/images/blog/simple-wins-best-in-show/cover.jpg"
cover_image_alt: "Trophy for \"2020 Best in Show\""
intro: "Simple, the app made in India for managing patients with hypertension, was recognized with the top prize at the Interaction 20 Conference"
author: "Akshay Verma"
author_image_path: "/images/blog/authors/akshay_verma.jpg"
author_social_link: "https://twitter.com/_akshayverma_"
author_details: "Design, India"
---

<div class="article-header">
  <div class="article-header--details">
    <h4><%= current_page.date.strftime('%d %B %Y') %></h4>
    <h4><%= current_page.data.reading_time %> min read</h4>
  </div>
  <h1 class="intro"><%= current_page.data.title %></h1>
  <p class="brief global"><%= current_page.data.intro %></p>
  <div class="person--blog">
    <img
      class="person--photo"
      src="<%= current_page.data.author_image_path %>"
      alt="<%= current_page.data.author %>"
    />
    <div class="person--details">
      <h3>
        <a href="<%= current_page.data.author_social_link %>" target="_blank">
          <%= current_page.data.author %>
        </a>
      </h3>
      <h5><%= current_page.data.author_details %></h5>
    </div>
  </div>
</div>
<div class="article-content">
  <section>
    <p>
      Our goal with <a href="https://simple.org/" target="_blank">Simple</a> is to make clinicians’ work life easier and to improve patient outcomes across entire populations. In fast-paced, under-resourced clinics, that’s a surprisingly tough task, riddled with many challenges. The one fundamental question that we ask ourselves as we design solutions is “are we designing just an app that records patient data or interventions that will shape real world interactions between clinicians and their patients to reinforce positive behaviour?”
    </p>
    <p>
      A lot of our design methods come from the discipline of interaction design, which Richard Buchanan describes beautifully as “designing how people relate to other people through the mediating influence of products.” <a href="https://ixda.org/" target="_blank">The Interaction Design Association</a> (IxDA) is a global community of pioneers and practitioners dedicated to this discipline. Launched in 2003, the IxDA has over 100,000 members and over 200 local groups around the world.
    </p>
    <p>
      This year, at the annual worldwide IxDA conference, the <a href="https://simple.org/" target="_blank">Simple project</a> took home the top prize. We couldn’t be more proud!
    </p>
    <div class="quote">
      <p>
        Learn more about Simple
      </p>
      <a class="fs-xlarge" href="#" target="_blank">
        What we are learning by creating an ultra-thin EMR
      </a>
    </div>
  </section>
  <div class="image--wide">
    <img
      src="<%= current_page.data.cover_image_path %>"
      alt="<%= current_page.data.cover_image_alt %>"
    />
  </div>
  <section>
    <h2>
      Team effort
    </h2>
    <p>
      Simple isn’t the result of any one person’s work, but is the result of awe-inspiring team effort that has brought a diverse group of incredible individuals and institutions to collaborate together. Healthcare workers, in particular, are crucial to the success of Simple and their feedback and ideas enable Simple to actually work in challenging clinical environments.
    </p>
    <p>
      Design and development of Simple is based in Bangalore and much of the hands-on work comes out of the teams at <a href="https://obvious.in/" target="_blank">Obvious</a> and <a href="https://nilenso.com/" target="_blank">Nilenso</a>. As a design and development team, we work as one cohesive unit where the boundaries between the two often dissolve in pursuit of keeping Simple human-centered. Our approach is research-driven and we are constantly in the field, learning from clinicians and patients.
    </p>
    <p>
      This free and open-source project is made in India, to be used in India and to be exported around the world for non-communicable disease programmes. In the next few months, Simple will also launch in Bangladesh and Ethiopia.
    </p>
  </section>
  <div class="image--wide">
    <img
      src="/images/blog/simple-wins-best-in-show/working-with-healthcare-workers.jpg"
      alt="Working with healthcare workers in the field in India: Tanushree Jindal and Akshay Verma"
    />
    <h4>
      Working with healthcare workers in the field in India: <a href="https://twitter.com/tanushree">Tanushree Jindal</a> and <a href="<%= current_page.data.author_social_link %>">Akshay Verma</a>
    </h4>
  </div>
  <section>
    <h2>
      Only the beginning
    </h2>
    <p>
      We are at the 200 meter line of a marathon. Improving hypertension control is a massive challenge. Just in India, there are estimated to be about 200 million people with hypertension and most of them do not have their blood pressure under control. Simple got off the starting line well (over 200,000 patients are managed with the app today) but there are still miles of the race to be run.
    </p>
    <p>
      As Simple scales, human-centered interaction design will continue to be at the heart of the project. The product will be used in diverse hospitals by many people and will hopefully help save many lives.
    </p>
  </section>
  <section>
    <h2>
      Thank you to the jury
    </h2>
    <p>
      Thank you to the <a href="https://awards.ixda.org/jury/" target="_blank">IxDA Awards jury</a> for selecting <a href="https://simple.org/" target="_blank">Simple</a> as “Best in Show”:
    </p>
    <ul>
      <li>
        <a href="https://medium.com/u/527d9b9e27b9?source=post_page-----a1c3a30a7d30----------------------" target="_blank">Dan Makoski</a>, Chief Design Officer at <a href="https://www.lloydsbankinggroup.com/" target="_blank">Lloyds Banking Group</a>
      </li>
      <li>
        <a href="https://twitter.com/apekshagarga" target="_blank">Apeksha Garga</a>, VP of Design at <a href="https://www.wealthfront.com/" target="_blank">Wealthfront</a>
      </li>
      <li>
        <a href="https://medium.com/u/50e39baefa55?source=post_page-----a1c3a30a7d30----------------------" target="_blank">Fabricio Teixeira</a>, Design director at <a href="https://work.co/" target="_blank">Work & Co</a> in Brooklyn and Founder of UX Collective.
      </li>
      <li>
        <a href="https://awards.ixda.org/juror/2020-nicola-ralston/" target="_blank">Nicola Ralston</a>, Senior Director of Design, Microsoft
      </li>
      <li>
        <a href="https://medium.com/u/9a26066b044a?source=post_page-----a1c3a30a7d30----------------------" target="_blank">Kevin Budelmann</a>, <a href="https://peopledesign.com/" target="_blank">President of Peopledesign</a>, Global VP of <a href="https://ixda.org/" target="_blank">IxDA</a>, and adjunct professor at Northwestern University
      </li>
      <li>
        <a href="https://awards.ixda.org/juror/2020-nicolas-jauguiberry/" target="_blank">Nicolás Jauguiberry</a>, Design Manager at Galicia Bank, and educator at UCA and ITBA
      </li>
      <li>
        <a href="https://medium.com/u/941eb466ccd0?source=post_page-----a1c3a30a7d30----------------------" target="_blank">Yasaman Sheri</a>, leading special projects on Augmented Intelligence at SPACE10 and educator at the RISD and CIID
      </li>
    </ul>
  </section>
  <div class="image--wide">
    <img
      src="/images/blog/simple-wins-best-in-show/design-team-in-milan.jpg"
      alt="Mahima Chandak, Daniel Burka, and Akshay Verma were in Milan to receive the award on behalf of the Simple team."
    />
    <h4>
      <a href="https://twitter.com/mahima_chandak" target="_blank">Mahima Chandak</a>, <a href="https://twitter.com/dburka" target="_blank">Daniel Burka</a>, and <a href="<%= current_page.data.author_social_link %>" target="_blank">Akshay Verma</a> were in Milan to receive the award on behalf of the <a href="https://simple.org/about" target="_blank">Simple team</a>.
    </h4>
  </div>
  <section>
    <h2>
      Contributors
    </h2>
    <p>
      Simple is an open-source project that is free to the world. The following people have made significant contributions.
    </p>
  </section>
</div>